__init__.py
dump.py
*.pyc
*.log
*.root
*~

# ___________________________________
# Exclude these files

default.tgz

# ___________________________________
# Exclude these directories

connect_projects/
connect_projects_old/
connect_projects_backup/
.connect/
CMSSW_10_6_3/
